

<form action="/" method="POST">
    <div class="col-md-5">
      
        <a  href="/Index"  >
            <img data-purpose="factura-img" alt="factura" width="150" height="150"
            class src="static\images\factura.jpg"a>

        <a  href="/Producto" ><img data-purpose="Producto-img" alt="Producto" width="150" height="150"
            class src="static\images\Producto.png"a>
        
        <a  href="/Mostrar" ><img data-purpose="Mostrar-img" alt="Mostrar" width="150" height="150"
            class src="static\images\Agregar.png"a>
    </div>
</form>